{% extends 'ecom/homebase.html' %}
{% load static %}
{% block content %}

<!-- <img src="{% static "images/logout_img.png" %}"  style="width:800px; height:100px; padding-left:400px;"> -->
<style>

    body {
        background: url('static/images/logout.jpg') no-repeat center center fixed;
        background-size: cover; /* Cover the entire viewport */
        margin: 0; /* Remove default margin */
        
      }

</style>

<br><br><br><br><br>
<br><br><br><br><br>
<center>
    <h4>You are logged out successfully!</h4>
</center>

<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br>

{% endblock content %}
